@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    @apply rounded-2xl p-6 text-white;
    background: linear-gradient(45deg, #910aff, #809bd6, #910aff);
    background-size: 600% 600%;
    animation: gradient-animation 10s ease infinite;
  }
}
